src/main/mule/get_timezone_sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fce71bb7-fa4e-4ee7-b562-d36626c0f758" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5f326e69-88cb-4322-a33a-79d7b988d4db" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="get_timezone_sapiFlow" doc:id="ffab3e39-5a39-4b4b-98f0-f1f9d3ab0929" >
		<http:listener doc:name="Listener" doc:id="74a54984-8d8a-4a0a-920b-2ba45524401b" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="317b12e3-7806-477f-a673-35133ac26cbe" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	region : attributes.uriParams.region,
	city : attributes.uriParams.city
	
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
