src/main/mule/travelontip-bookingsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="travelontip-bookingsystemFlow" doc:id="e7abee10-218b-4fff-8e61-82683317199c" >
		<http:listener doc:name="Listener" doc:id="1a717b1b-e3cf-4674-8d9c-57eb42988f0a" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<set-variable value="#[message.attributes.headers.transactionId default correlationId]" doc:name="Set Transaction ID" doc:id="758b9bfd-fe04-4c1b-9035-b5f32c92bbea" variableName="transactionId"/>
		<logger level="INFO" doc:name="Logger" doc:id="97d64b5f-4805-42a9-8fc4-5452953f98c0" message=" #[flow.name] started Transaction id is #[vars.transactionId]" />
		<set-variable value="#[lower(attributes.uriParams.path)]" doc:name="Set Variable choice" doc:id="ddd5ef4d-520a-4ff7-96b1-617ceeeda4a8" variableName="choice"/>
		<choice doc:name="Choice" doc:id="413ec003-03a4-4649-ab8c-dfd75ae515c8" >
			<when expression='#[vars.choice== "schedules"]'>
				<flow-ref doc:name="Flow Reference" doc:id="bafce0e5-621b-404d-a149-88d50efd5813" name="implementationFlowForSchedules"/>
			</when>
			<when expression='#[vars.choice== "routes"]' >
				<flow-ref doc:name="Flow Reference" doc:id="b0457c8e-c03b-4abf-b360-c3ed28b8d197" name="implementationFlowForRoutes"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="43aa6292-b8a1-4519-a31b-6c5e4a5a5acb" message="Invalid request"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="75f719b8-4ff4-4057-bbf5-9a399a7adcc5" message=" #[flow.name] finshied Transaction id is #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="196f7626-b4da-49aa-bfe1-3cff2f48a7f9" >
				<logger level="INFO" doc:name="Logger" doc:id="f9766d16-c885-4e48-b191-11d638b79bba" message="Error occured in travenontip API"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
