mule-cicd/src/main/mule/mule-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="70161762-7a2f-45f5-bf9f-edf1032a6583" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-cicdFlow" doc:id="afee652b-c433-4f3e-989c-dd4ec3528c19" >
		<http:listener doc:name="Listener" doc:id="452c7fe9-5914-4085-869b-fb08f83d3749" config-ref="HTTP_Listener_config" path="/">
			<http:response >
				<http:body ><![CDATA[#['Success']]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="23501e10-f1d2-44b5-9200-e3823b48cc87" message="Flow invoked"/>
	</flow>
</mule>
